<div class="boo-wrapper autumn">

    <div class="myboo-contents">
        <div class="boo-icon">
            <img class="boo-img" src="images/AutumnBooICON.png">
        </div>
        <div class="boo-contents">
            <%= nick %>님 안녕하세요.
        </div>
    </div>
</div>


