<div class="boo-wrapper autumn">

    <div class="myboo-contents">
        <div class="boo-icon">
            <img class="boo-img" src="images/AutumnBooICON.gif">
        </div>
        <div class="boo-contents">
            <h5>[<%= nick %>]은 가을의 부 입니다.</h5>
            <br><br>

            바스락 바스락...<br>
            가을 감성 가득한 당신...<br><br>

            당신은 세심하고 고고한 매력을 가졌군요!<br><br>

            여유롭고 느긋한 성향의 당신은<br>
            순간의 아름다움을 잘 알겠군요.<br><br>

            오늘도 조용하고 한적한 곳에서<br>
            커피한잔 하고 계시지는 않으신가요?<br><br>

            향기로운 커피 내음과 함께할 수 있는<br>
            책 추천 한 번 받아볼래요?
        </div>
        <div class="boo-contents boo-keywords">
            <div class="keywordsTitle">
                <img src="images/AutumnKeyword.png" width="60%" />
            </div>
            <div class="keywords">
                <div class="keywords-box">
                    <div class="keywords-first-left">
                        #나름고지식한편
                    </div>
                    <div class="keywords-first-right">
                        #끄적이고싶어지는
                    </div>
                </div>
                <div class="keywords-box">
                    <div class="keywords-second-left">
                        #태생적똑똑함
                    </div>
                    <div class="keywords-second-right">
                        #올해다가기전에
                    </div>
                </div>
            </div>
    
        </div>
        <div class="boo-contents event-page">
            <img src="images/EventImg.png" width="100%" />
        </div>
        <div class="recommendBtncontainer">
            <button class="recomBtn autumn" onClick="location.href='/Search'">
                <img src="images/BtnRecom.png" width="100%" />
            </button>
        </div>
    </div>
</div>


