<div class="boo-wrapper autumn">

    <div class="myboo-contents">
        <div class="boo-icon">
            <img class="boo-img" src="images/AutumnBooICON.png">
        </div>
        <div class="boo-contents">

        </div>
    </div>
</div>


