<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <link rel="stylesheet" href="style.css">


</head>
<body>

    <div class="mainPagetop">
    </div>

    <div class="bookInfoContainer">
        <div class="bookCover" id="bookImgContainer">

        </div>
        <div class="bookContent">
            <div class="title" id="titleContainer">
                책 제목 
            </div>
            <div class="author" id="authorContainer">
                작가
            </div>
            <div class="publish" id="publishContainer">
                출판사
            </div>
            <div class="date" id="dateContainer">
                출간일
            </div>
        </div>
    </div>

    <div class= "bookDetailContainer">
        <div class="firstComment">
            책과 함께했던 당신의 기억을 적어주세요.
        </div>
        <div class="detailContainer writepage">
            <div class="motivate">
                ＃이 책을 읽게 된 계기를 알려주세요.
                <input class="CommentInput ffCommentInput" type="text" id="motivCommentInput" 
                 maxlength="25" required>
            </div>
            <div class="evaluation" id="evalCommentInput" >
                # 이 책에 대한 간단한 평가를 해주세요.
                <div class="funContainer parentContainer">
                    <div class="evalWord">
                        재미
                    </div>
                    <div class="BoxNComment">
                        <div class="PointContainer">
                            <div class="PointNum" id="funPoint">
                                0/10
                            </div>
                            <div class="PointBox">
                                <div class="Nfill" id="funbox1" onclick="boxClick('fun', 1)">
                                </div>
                                <div class="Nfill" id="funbox2" onclick="boxClick('fun', 2)">
                                </div>
                                <div class="Nfill" id="funbox3" onclick="boxClick('fun', 3)">
                                </div>
                                <div class="Nfill" id="funbox4" onclick="boxClick('fun', 4)">
                                </div>
                                <div class="Nfill" id="funbox5" onclick="boxClick('fun', 5)">
                                </div>
                                <div class="Nfill" id="funbox6" onclick="boxClick('fun', 6)">
                                </div>
                                <div class="Nfill" id="funbox7" onclick="boxClick('fun', 7)">
                                </div>
                                <div class="Nfill" id="funbox8" onclick="boxClick('fun', 8)">
                                </div>
                                <div class="Nfill" id="funbox9" onclick="boxClick('fun', 9)">
                                </div>
                                <div class="Nfill" id="funbox10" onclick="boxClick('fun', 10)">
                                </div>
                            </div>
                        </div>
                        <div class="funComment">
                            <input class="CommentInput" type="text" id="funCommentInput" 
                            placeholder="ex) 최근 개인적으로 겪은 사건과 비슷한 내용이 나와서 재미있었음." 
                            maxlength="25">
                        </div>
                    </div>
                </div>

                <div class="readContainer parentContainer">
                    <div class="evalWord">
                        가독성
                    </div>
                    <div class="BoxNComment">
                        <div class="PointContainer">
                            <div class="PointNum" id = "readPoint">
                                0/10
                            </div>
                            <div class="PointBox">
                                <div class="Nfill" id="readbox1" onclick="boxClick('read', 1)">
                                </div>
                                <div class="Nfill" id="readbox2" onclick="boxClick('read', 2)">
                                </div>
                                <div class="Nfill" id="readbox3" onclick="boxClick('read', 3)">
                                </div>
                                <div class="Nfill" id="readbox4" onclick="boxClick('read', 4)">
                                </div>
                                <div class="Nfill" id="readbox5" onclick="boxClick('read', 5)">
                                </div>
                                <div class="Nfill" id="readbox6" onclick="boxClick('read', 6)">
                                </div>
                                <div class="Nfill" id="readbox7" onclick="boxClick('read', 7)">
                                </div>
                                <div class="Nfill" id="readbox8" onclick="boxClick('read', 8)">
                                </div>
                                <div class="Nfill" id="readbox9" onclick="boxClick('read', 9)">
                                </div>
                                <div class="Nfill" id="readbox10" onclick="boxClick('read', 10)">
                                </div>
                            </div>
                        </div>
                        <div class="readComment">
                            <input class="CommentInput" type="text" id="readCommentInput" 
                            placeholder="ex) 십분 만에 한 챕터를 읽었음." maxlength="25">
                        </div>
                    </div>
                </div>

                <div class="usefulContainer parentContainer">
                  <div class="evalWord">
                        유용성
                    </div>
                    <div class="BoxNComment">
                        <div class="PointContainer">
                            <div class="PointNum" id="usefPoint">
                                0/10
                            </div>
                            <div class="PointBox">
                                <div class="Nfill" id="usefbox1" onclick="boxClick('usef', 1)">
                                </div>
                                <div class="Nfill" id="usefbox2" onclick="boxClick('usef', 2)">
                                </div>
                                <div class="Nfill" id="usefbox3" onclick="boxClick('usef', 3)">
                                </div>
                                <div class="Nfill" id="usefbox4" onclick="boxClick('usef', 4)">
                                </div>
                                <div class="Nfill" id="usefbox5" onclick="boxClick('usef', 5)">
                                </div>
                                <div class="Nfill" id="usefbox6" onclick="boxClick('usef', 6)">
                                </div>
                                <div class="Nfill" id="usefbox7" onclick="boxClick('usef', 7)">
                                </div>
                                <div class="Nfill" id="usefbox8" onclick="boxClick('usef', 8)">
                                </div>
                                <div class="Nfill" id="usefbox9" onclick="boxClick('usef', 9)">
                                </div>
                                <div class="Nfill" id="usefbox10" onclick="boxClick('usef', 10)">
                                </div>
                            </div>
                        </div>
                        <div class="usefComment">
                            <input class="CommentInput" type="text" id="usefCommentInput" 
                            placeholder="ex) 무료한 일상에 신선한 재미를 주었음." maxlength="25">
                        </div>
                    </div>
                </div>
                <div class="literacyContainer parentContainer">
                    <div class="evalWord">
                        문장력
                    </div>
                    <div class="BoxNComment">
                        <div class="PointContainer">
                            <div class="PointNum" id="literPoint">
                                0/10
                            </div>
                            <div class="PointBox">
                                <div class="Nfill" id="literbox1" onclick="boxClick('liter', 1)">
                                </div>
                                <div class="Nfill" id="literbox2" onclick="boxClick('liter', 2)">
                                </div>
                                <div class="Nfill" id="literbox3" onclick="boxClick('liter', 3)">
                                </div>
                                <div class="Nfill" id="literbox4" onclick="boxClick('liter', 4)">
                                </div>
                                <div class="Nfill" id="literbox5" onclick="boxClick('liter', 5)">
                                </div>
                                <div class="Nfill" id="literbox6" onclick="boxClick('liter', 6)">
                                </div>
                                <div class="Nfill" id="literbox7" onclick="boxClick('liter', 7)">
                                </div>
                                <div class="Nfill" id="literbox8" onclick="boxClick('liter', 8)">
                                </div>
                                <div class="Nfill" id="literbox9" onclick="boxClick('liter', 9)">
                                </div>
                                <div class="Nfill" id="literbox10" onclick="boxClick('liter', 10)">
                                </div>
                            </div>
                        </div>
                        <div class="literComment">
                            <input class="CommentInput" type="text" id="literCommentInput" 
                            placeholder="ex) 사느냐 죽느냐, 그것이 문제로다" maxlength="25">
                        </div>
                    </div>
                </div>
                <div class="messageContainer parentContainer">
                    <div class="evalWord">
                        메시지
                    </div>
                    <div class="BoxNComment">
                        <div class="PointContainer">
                            <div class="PointNum" id="msgPoint">
                                0/10
                            </div>
                            <div class="PointBox">
                                <div class="Nfill" id="msgbox1" onclick="boxClick('msg', 1)">
                                </div>
                                <div class="Nfill" id="msgbox2" onclick="boxClick('msg', 2)">
                                </div>
                                <div class="Nfill" id="msgbox3" onclick="boxClick('msg', 3)">
                                </div>
                                <div class="Nfill" id="msgbox4" onclick="boxClick('msg', 4)">
                                </div>
                                <div class="Nfill" id="msgbox5" onclick="boxClick('msg', 5)">
                                </div>
                                <div class="Nfill" id="msgbox6" onclick="boxClick('msg', 6)">
                                </div>
                                <div class="Nfill" id="msgbox7" onclick="boxClick('msg', 7)">
                                </div>
                                <div class="Nfill" id="msgbox8" onclick="boxClick('msg', 8)">
                                </div>
                                <div class="Nfill" id="msgbox9" onclick="boxClick('msg', 9)">
                                </div>
                                <div class="Nfill" id="msgbox10" onclick="boxClick('msg', 10)">
                                </div>
                            </div>
                        </div>
                        <div class="msgComment">
                            <input class="CommentInput" type="text" id="msgCommentInput" 
                            placeholder="ex) 환경 문제에 대해서 내가 생각하지 못한 시각을 제시해 주었다." maxlength="25">
                        </div>
                    </div>
                </div>
            </div>
            <div class="introduce">
                # 당신의 책을 한 줄로 소개해 주세요.
                <input class="CommentInput ffCommentInput" type="text" id="introCommentInput" 
                 maxlength="25" required>            
            </div>
        </div>
        <div class= "finishBtn">
            <button type="button" id="btnFinishDetail" class="BtnStr" onclick="saveReview()">
                수정 완료</button>
        </div>
    </div>


</body>
<footer class="footer">
    <%-include('navigation')%>
</footer>
</html>

<script type="text/javascript">
var bookInfo;
var returnValue;
var url = location.href;
var bookTitle;
var bookAuthor;
var bookPublish;
var bookPubdate;
var bookCover;

  //url 파싱
//   https://bookthumb-phinf.pstatic.net/cover/156/206/15620654.jpg?type=m1&udate=20191018
  var parameter = (url.slice(url.indexOf('?') + 1, url.length)).split('&');
  for(var i=0; i< 5; i++){
      if(i<4){
        returnValue = parameter[i].split('=')[1];
      }else{
        returnValue = parameter[i].split('=')[1] + '=' + parameter[i].split('=')[2]
        + '&' + parameter[i+1];
      }

      if(i==0){
        var titleContainer = document.getElementById('titleContainer');
        titleContainer.innerHTML = decodeURIComponent(returnValue);
        bookTitle = decodeURIComponent(returnValue);
      }else if(i==1){
          var authorContainer = document.getElementById('authorContainer');
          authorContainer.innerHTML = decodeURIComponent(returnValue);
          bookAuthor = decodeURIComponent(returnValue);
      }else if(i==2){
          var publishContainer = document.getElementById('publishContainer');
          publishContainer.innerHTML = decodeURIComponent(returnValue);
          bookPublish = decodeURIComponent(returnValue);
      }else if(i==3){
          var dateContainer = document.getElementById('dateContainer');
          dateContainer.innerHTML = decodeURIComponent(returnValue);
          bookPubdate = decodeURIComponent(returnValue);
      }else{
        var bookImgContainer = document.getElementById('bookImgContainer');
        var bookCoverImg = document.createElement("img");
        bookImgContainer.appendChild(bookCoverImg);

        bookCoverImg.setAttribute("class", "bookCoverimg");
        bookCoverImg.setAttribute('src', decodeURIComponent(returnValue));
        bookCoverImg.setAttribute('onerror', "this.src='images/BookCoverDefault.png'")
        bookCover = decodeURIComponent(returnValue);
        loadReview();
      }
  }

  var funPointNum = 0;
  var readPointNum = 0;
  var usefPointNum = 0;
  var literPointNum = 0;
  var msgPointNum = 0;
  var likeNum = 0;

  //별점 박스 채우는 함수
    function boxClick(kind, num){
        for(i=1; i<=10; i++){
            var box = kind + 'box' + i;
            var PointBox = document.getElementById(box);
            PointBox.setAttribute("class", "Nfill");
        }
        for(i=1; i<=num; i++){
            var box = kind + 'box' + i;
            var PointBox = document.getElementById(box);
            PointBox.setAttribute("class", "fill");
        }
        var grade = kind + 'Point';
        var GradeContainer = document.getElementById(grade);
        GradeContainer.innerHTML = (num == 10)
        ? num + "/10" : '0' + num + '/10';
        
        if(kind=='fun') funPointNum = num;
        if(kind=='read') readPointNum = num;
        if(kind=='usef') usefPointNum = num;
        if(kind=='liter') literPointNum = num;
        if(kind=='msg') msgPointNum = num;
    }

    function loadReview(){
        $.ajax({
                type: 'post',
                url: '/editBookforLoad',
                data: {
                    "bookTitle" : bookTitle
                },
                dataType: 'JSON',
            })
            .done(function (result){
                var jsonData = JSON.stringify(result); 
                bookInfo = result[0];
                fillBlank();
            })
    }

    //별점 박스 채우는 함수
    function fillBox(kind, num){
        for(i=1; i<=num; i++){
            var box = kind + 'box' + i;
            var PointBox = document.getElementById(box);
            PointBox.setAttribute("class", "fill");
        }
    }

    function fillBlank(){
        var motivComment = document.getElementById('motivCommentInput');
        var funComment = document.getElementById('funCommentInput');
        var readComment = document.getElementById('readCommentInput');
        var usefComment = document.getElementById('usefCommentInput');
        var literComment = document.getElementById('literCommentInput');
        var msgComment = document.getElementById('msgCommentInput');
        var introComment = document.getElementById('introCommentInput');
        motivComment.value = bookInfo.motiv;
        funComment.value = bookInfo.funComment;
        readComment.value = bookInfo.readComment;
        usefComment.value = bookInfo.usefComment;
        literComment.value = bookInfo.literacyComment;
        msgComment.value = bookInfo.msgComment;
        introComment.value = bookInfo.introComment;

        fillBox('fun', bookInfo.funPoint);
        fillBox('read', bookInfo.readPoint);
        fillBox('usef', bookInfo.usefPoint);
        fillBox('liter', bookInfo.literacyPoint);
        fillBox('msg', bookInfo.msgPoint);

        var funPoint = document.getElementById('funPoint');
        var readPoint = document.getElementById('readPoint');
        var usefPoint = document.getElementById('usefPoint');
        var literPoint = document.getElementById('literPoint');
        var msgPoint = document.getElementById('msgPoint');

        funPoint.innerHTML = (bookInfo.funPoint == 10)
        ? bookInfo.funPoint + '/10' : '0' + bookInfo.funPoint + '/10';

        readPoint.innerHTML = (bookInfo.readPoint == 10)
        ? bookInfo.readPoint + '/10' : '0' + bookInfo.readPoint + '/10';

        usefPoint.innerHTML = (bookInfo.usefPoint == 10)
        ? bookInfo.usefPoint + '/10' : '0' + bookInfo.usefPoint + '/10';

        literPoint.innerHTML = (bookInfo.literacyPoint == 10)
        ? bookInfo.literacyPoint + '/10' : '0' + bookInfo.literacyPoint + '/10';

        msgPoint.innerHTML = (bookInfo.msgPoint == 10)
        ? bookInfo.msgPoint + '/10' : '0' + bookInfo.msgPoint + '/10';

        funPointNum = bookInfo.funPoint;
        readPointNum = bookInfo.readPoint;
        usefPointNum = bookInfo.usefPoint;
        literPointNum = bookInfo.literacyPoint;
        msgPointNum = bookInfo.msgPoint;
        likeNum = bookInfo.like;
    }

    //리뷰내용 DB로 보내기
    function saveReview() {
        var motivComment = document.getElementById('motivCommentInput').value;
        var funComment = document.getElementById('funCommentInput').value;
        var readComment = document.getElementById('readCommentInput').value;
        var usefComment = document.getElementById('usefCommentInput').value;
        var literComment = document.getElementById('literCommentInput').value;
        var msgComment = document.getElementById('msgCommentInput').value;
        var introComment = document.getElementById('introCommentInput').value;

        let reviewData = {
            "title" : bookTitle,
            "author" : bookAuthor,
            "publish" : bookPublish,
            "date" : bookPubdate,
            "cover" : bookCover,
            "motiv" : motivComment,
            "funPoint" : funPointNum,
            "funComment" : funComment,
            "readPoint" : readPointNum,
            "readComment" : readComment,
            "usefPoint" : usefPointNum,
            "usefComment" : usefComment,
            "literacyPoint" : literPointNum,
            "literacyComment" : literComment,
            "msgPoint" : msgPointNum,
            "msgComment" : msgComment,
            "introComment" : introComment,
            "like" : likeNum
        }

        if(motivComment.length > 10 && introComment.length > 10){
            $.ajax({
                type: 'post',
                url: '/editreviewsave',
                data: reviewData,
                dataType: 'JSON',
            })
            .done(function (result){
                if(result.msg == "email-error"){
                    alert("이미 가입된 이메일입니다.");
                }else if(result.msg == 'nick-error'){
                    alert("이미 존재하는 닉네임입니다.");
                }else if(result.msg == 'error'){
                    alert("Error!");
                }else if(result.msg == "success"){
                    window.location.replace("/MyPage");
                }
            })
            .fail(function (xhr, status, error){
                alert("error");
            })
        }else{
            alert("계기와 소개를 10자 이상 입력해주세요");
        }
    }

</script>