<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>main</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <%-include('main')%>
  </div>
  <!-- 네이버 로그인 버튼 노출 영역 
  <div id="naver_id_login"></div>
   //네이버 로그인 버튼 노출 영역 -->
</body>

</html>

