<div class="intro">
    <div class="img_container">
        <img class="intro_image" id="firstImage" src="images/introLogo.png" alt="intro 사진">
    </div>
    <div class="user_info">
        <form name="userInfo">
            <div class="nickname">
                <div class="infoBtn">
                    <img class="infoBtnImg" src="images/BtnNickname.png">
                </div>
                <div class="introInput">
                    <input class="introInputBox" type="text" name="nick" placeholder="5글자 이내로 만들어 주세요" required>
                </div>
            </div>
            <div class="major">
                <div class="infoBtn">
                    <img class="infoBtnImg" src="images/BtnMajor.png">
                </div>
                <div class="introInput">
                    <input class="introInputBox" type="text" name="major" placeholder="예시) 철학과" required>
                </div>
            </div>
            <div class="email">
                <div class="infoBtn">
                    <img class="infoBtnImg" src="images/BtnEmail.png">
                </div>
                <div class="introInput">
                    <input class="introInputBox" type="email" name="email" placeholder="예시)********@naver.com" required>
                </div>
            </div>
            <div class="submit">
               <button type="button" class="BtnSubmit" id="infoSubmit" onclick="submitInfo()">
                <img src="images/BtnSubmit.png" width="100%" /></button>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script type="text/javascript">
    //userInfo form 제출 시, 호출되는 함수
    function checkInput() {
        var loginForm = document.userInfo;
        var nick = loginForm.nick.value;
        var major = loginForm.major.value;
        var email = loginForm.email.value;

        if(!nick || !major || !email) return false;
        else return true;
    }

    function submitInfo() {
        console.log("CLICK");
        if(checkInput()){
            var queryString = $("form[name=userInfo]").serialize();
            $.ajax({
                type: 'post',
                url: '/Intro',
                data: queryString,
                dataType: 'JSON',
            })
            .done(function (result){
                if(result.msg == "success"){
                    console.log("SUCCESS!!!!!");
                    location.href = "/startTest";
                }
            })
            .fail(function (xhr, status, error){
                alert("error");
            })
        }else{
            alert("값을 입력해주세요");
        }
    }
</script>