<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-item" href="/myBoo">
        <img class="nav-img" src="images/BtnMyBoo.png" alt="">
      </a>
      <a class="navbar-item" href="/Search">
        <img class="nav-img" src="images/BtnRecomBook.png" alt="">
      </a>
      <a class="navbar-item" href="/Main">
        <img class="nav-img" src="images/BtnWatchBooks.png" alt="" >
      </a>
      <a class="navbar-item" href="#">
        <img class="nav-img" src="images/BtnSpreadFrd.png" alt="" >
      </a>
    </div>
  </nav>