<div class="boo-wrapper spring">

    <div class="myboo-contents spring">
        <div class="boo-icon">
            <img class="boo-img" src="images/SpringBooICON.gif">
        </div>
        <div class="boo-contents">
            <h5>[<%= nick %>]은 봄의 부 입니다.</h5>
            <br><br>
            몽글~몽글~<br>
            호기심이 많은 당신은 화사한 봄의 부<br><br>

            [<%= nick %>]의 작고 소중한 감성을<br>
            봄비처럼 적셔줄 멋진 책들을 소개해줄게요.<br><br>

            한번 같이 읽어볼래요?
        </div>
        <div class="boo-contents boo-keywords">
            <div class="keywordsTitle">
                <img src="images/SpringKeyword.png" width="60%" />
            </div>
            <div class="keywords">
                <div class="keywords-box">
                    <div class="keywords-first-left">
                        #새싹처럼파릇한
                    </div>
                    <div class="keywords-first-right">
                        #라떼는말이야
                    </div>
                </div>
                <div class="keywords-box">
                    <div class="keywords-second-left">
                        #흥미롭고재미난
                    </div>
                    <div class="keywords-second-right">
                        #마음에울림이있는
                    </div>
                </div>
            </div>
    
        </div>
        <div class="event-page">
            <img src="images/EventImg.png" width="100%" />
        </div>
        <div class="recommendBtncontainer">
            <button class="recomBtn spring" onClick="location.href='/Search'">
                <img src="images/BtnRecom.png" width="100%" />
            </button>
        </div>
    </div>
</div>


