<div class="boo-wrapper spring">

    <div class="myboo-contents spring">
        <div class="boo-icon">
            <img class="boo-img" src="images/SpringBooICON.gif">
        </div>
        <div class="boo-contents">
            <h5>[<%= nick %>]님은 봄의 부 입니다.</h5>
            <br>
            몽글~몽글~<br>
            호기심이 많은 화사한 봄의 부<br><br>

            푹신한 풀밭에<br>
            자리를 깔고 앉아 읽는<br>
            소설책의 재미를 아신다고요?<br>
            <br>
            따스한 봄 햇살도<br>
            나와 함께 책을 읽는 느낌이 들어요.<br>
            <br>
            감성 그득한 책에<br>
            취해서 보내서 시간이 그리운가요?<br>
            <br>

            [<%= nick %>]의 감성을 봄비처럼 적셔줄<br>
            멋진 책들을 소개해 줄게요.<br><br>

            같이 읽어볼래요?
        </div>
        <div class="boo-contents boo-keywords">
            <div class="keywordsTitle">
                <img src="images/SpringKeyword.png" width="60%" />
            </div>
            <div class="keywords">
                <div class="keywords-box">
                    <div class="keywords-first-left">
                        #춘곤증
                    </div>
                    <div class="keywords-second-right">
                        #자기개발
                    </div>
                </div>
                <div class="keywords-box">
                    <div class="keywords-first-left">
                        #흥미롭고재미난
                    </div>
                    <div class="keywords-second-right">
                        #감성소설
                    </div>
                </div>
                <div class="keywords-box">
                    <div class="keywords-first-left">
                        #refresh
                    </div>
                    <div class="keywords-second-right">
                        #마음에울림이있는
                    </div>
                </div>
            </div>
    
        </div>
        <div class="event-page">
            <img src="images/EventImg.png" width="100%" />
        </div>
        <div class="recommendBtncontainer">
            <button class="retestBtn spring" onclick="location.href='/startTest'">
                <img src="images/BtnReTest.png" width="50%" />
            </button>
            <button class="recomBtn spring" onclick="location.href='/Search'">
                <img src="images/BtnRecom.png" width="50%" />
            </button>
        </div>
    </div>
</div>


