<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <title>startTest</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</head>
<body>
  <div class="wrapper">
      <div class = "DoctorBoo">
        <img class="DoctorBooImg" src="images/DoctorBoo.png">
      </div>
      <div class="TestStart">
          <a href='/test'><button type="button" class="BtnStartT">
            <img src="images/BtnStartTest.png" width="100%" /></button></a>
      </div>

  </div>
</body>
</html>

