<div class="boo-wrapper summer">

<div class="myboo-contents">
    <div class="boo-icon">
        <img class="boo-img" src="images/SummerBooICON.png">
    </div>
    <div class="boo-contents">

    </div>
</div>
</div>



