<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>main</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

</head>
<body>
  <div class="wrapperTest">
    <div class = "QuestionBox">
        <div class="swiper-container test-container" id = "question">
            <div class= "swiper-wrapper">

                <div class="Q1 swiper-slide question-slide">
                    <img src="images/Q1.png" />
                </div>
                <div class="Q2 swiper-slide question-slide">
                    <img src="images/Q2.png" />
                </div>
                <div class="Q3 swiper-slide question-slide">
                    <img src="images/Q3.png" />
                </div>
                <div class="Q4 swiper-slide question-slide">
                    <img src="images/Q4.png" />
                </div>
                <div class="Q5 swiper-slide question-slide">
                    <img src="images/Q5.png" />
                </div>
                <div class="Q6 swiper-slide question-slide">
                    <img src="images/Q6.png" />
                </div>
                <div class="Q7 swiper-slide question-slide">
                    <img src="images/Q7.png" />
                </div>
                <div class="Q8 swiper-slide question-slide">
                    <img src="images/Q8.png" />
                </div>
                <div class="Q9 swiper-slide question-slide">
                    <img src="images/Q9.png" />
                </div>
                <div class="Q10 swiper-slide question-slide">
                    <img src="images/Q10.png" />
                </div>

            </div>

            <div class="swiper-pagination"></div>
        </div>

    <div class = "CheckBtn">
        <div class = "selectBar">
            <div class = "selectBtn1">
                <button type="button" class="BtnSelect">
             </button>
            </div>
            <div class = "selectBtn2">
                <button type="button" class="BtnSelect">
             </button>
            </div>
            <div class = "selectBtn3">
                <button type="button" class="BtnSelect">
             </button>
            </div>
            <div class = "selectBtn4">
                <button type="button" class="BtnSelect">
             </button>
            </div>
        </div>
    </div>

    <div class= "Btns">
    <div class="BtnPrev">
        <button type="button" class="BtnSelectPrev">
            <img src="images/BtnPrev.png" width="100%" /></button>
    </div>
    <div class="BtnShow">
        <button type="button" class="BtnShowRes">
            <img src="images/BtnShowRes.png" width="100%" /></button>
    </div>
</div>

</div>



</div>

</body>

<script>
    const testSwiper = new Swiper('#question', {
        direction: 'horizontal',
        slidesPerView: 1,
        spaceBetween: 700,
        touchRatio: 0,
        pagination:{
            el: '.swiper-pagination',
            type: 'progressbar'
        },
        navigation: {
            nextEl: '.BtnSelect',
            prevEl: '.BtnPrev',
        },
        on: {
            slideChangeTransitionStart: function(){
                if(this.activeIndex == 0){
                    $('.BtnSelectPrev').css("opacity", "0.2");
                }else{
                    $('.BtnSelectPrev').css("opacity", "1");
                }

                if(this.activeIndex == 9){
                    // $('.BtnShowRes').show();
                    $('.BtnShowRes').css ( "visibility", "visible") ;
                }else{
                    // $('.BtnShowRes').hide();
                    $('.BtnShowRes').css ( "visibility", "hidden") ;
                }
            }
        }
    });

    
</script>

</html>

