<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
</head>

<body>
  <div class="wrapperTest">
    <div class = "QuestionBox">
        <div class="swiper-container test-container" id = "question">
            <div class= "swiper-wrapper">

                <div class="Q1 swiper-slide question-slide">
                    <img src="images/Q1.png" />
                </div>
                <div class="Q2 swiper-slide question-slide">
                    <img src="images/Q2.png" />
                </div>
                <div class="Q3 swiper-slide question-slide">
                    <img src="images/Q3.png" />
                </div>
                <div class="Q4 swiper-slide question-slide">
                    <img src="images/Q4.png" />
                </div>
                <div class="Q5 swiper-slide question-slide">
                    <img src="images/Q5.png" />
                </div>
                <div class="Q6 swiper-slide question-slide">
                    <img src="images/Q6.png" />
                </div>
                <div class="Q7 swiper-slide question-slide">
                    <img src="images/Q7.png" />
                </div>
                <div class="Q8 swiper-slide question-slide">
                    <img src="images/Q8.png" />
                </div>
                <div class="Q9 swiper-slide question-slide">
                    <img src="images/Q9.png" />
                </div>
                <div class="Q10 swiper-slide question-slide">
                    <img src="images/Q10.png" />
                </div>
                <div class="Q10 swiper-slide question-slide">
                    <div class = "DoctorBoo">
                        <img class="DoctorBooImg ResComent" src="images/ResultComment.png">
                      </div>
                      <div class="TestStart">
                          <a href='/test'><button type="button" id="resBtn" class="BtnStartT">
                            <img src="images/BtnShowRes.png" width="100%" /></button></a>
                      </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>
        </div>

    <div class = "CheckBtn" id = "checkBtns">
        <div class = "selectBar" id = "selectBtns">
            <div class = "selectBtn1">
                <button type="button" id="btn1" class="BtnSelect">
             </button>
            </div>
            <div class = "selectBtn2">
                <button type="button" id="btn2" class="BtnSelect">
             </button>
            </div>
            <div class = "selectBtn3">
                <button type="button" id="btn3" class="BtnSelect">
             </button>
            </div>
            <div class = "selectBtn4">
                <button type="button" id="btn4" class="BtnSelect">
             </button>
            </div>
        </div>
    </div>
    <div id = "leftBtnTxt">
        <div id ="initTxt">
            술자리에<br>간다
        </div>
    </div>
    <div id = "rightBtnTxt">
        <div id ="initTxt">
            집에서<br>호흡연습
        </div>
    </div>

    <div class= "Btns">
        <div class="BtnPrev">
            <button type="button" id="btnPrev" class="BtnSelectPrev">
                <img id = "btnPrevimg" width="100%" /></button>
        </div>
    </div>

</div>



</div>

</body>

<script>
var testArray = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
var page;
var finish = false;
var left = document.createElement("div");
var right = document.createElement("div");
var lp = document.getElementById("leftBtnTxt");
var rp = document.getElementById("rightBtnTxt");
var prevBtn = document.getElementById("btnPrevimg");
var check = true;
left.setAttribute("id", "left");
right.setAttribute("id", "right");

const testSwiper = new Swiper('#question', {
    direction: 'horizontal',
    slidesPerView: 1,
    spaceBetween: 700,
    touchRatio: 0,
    pagination:{
        el: '.swiper-pagination',
        type: 'progressbar'
    },
    navigation: {
        nextEl: '.BtnSelect',
        prevEl: '.BtnPrev',
    },
    on: {
        slideChange: function(){
            page = this.realIndex;
            if(check){
                lp.removeChild(document.getElementById("initTxt"));
                rp.removeChild(document.getElementById("initTxt"));
                lp.appendChild(left);
                rp.appendChild(right);
                check = false;
            }
        
            if(this.realIndex == 0){
                prevBtn.setAttribute('src', "");
                left.innerHTML = "술자리에<br>간다";
                right.innerHTML = "집에서<br>호흡하기";
            }else if(this.realIndex == 1){
                prevBtn.setAttribute('src', "images/BtnPrev.png");
                left.innerHTML = "천천히<br>하자";
                right.innerHTML = "개요부터<br>바로짜기";
            }else if(this.realIndex == 2){
                left.innerHTML = "사골 모임";
                right.innerHTML = "사교 모임";
            }else if(this.realIndex == 3){
                left.innerHTML = "넓고 얕은";
                right.innerHTML = "깊고 좁은";
            }else if(this.realIndex == 4){
                left.innerHTML = "트렌디";
                right.innerHTML = "매니악";
            }else if(this.realIndex == 5){
                left.innerHTML = "카페로<br>GO";
                right.innerHTML = "열람실로<br>GO";
            }else if(this.realIndex == 6){
                left.innerHTML = "메모장";
                right.innerHTML = "성물";
            }else if(this.realIndex == 7){
                left.innerHTML = "따뜻한<br>감성파";
                right.innerHTML = "냉철한<br>추리파";
            }else if(this.realIndex == 8){
                left.innerHTML = "교양서적<br>여러 권";
                right.innerHTML = "전공서적<br>한두 권";
            }else if(this.realIndex == 9){
                left.innerHTML = "도서관에서<br>빌려읽기";
                right.innerHTML = "책 구매 후<br>읽기";
            }
        }
    }
});

const btn1 = document.getElementById("btn1");
const btn2 = document.getElementById("btn2");
const btn3 = document.getElementById("btn3");
const btn4 = document.getElementById("btn4");
const checkBtns = document.getElementById("checkBtns");
btn1.addEventListener('click', e => {
    testArray[page-1] = 1;
    if(page == 10){
        checkBtns.removeChild(document.getElementById("selectBtns"));
        prevBtn.setAttribute('src', "");
        testResult();    
    }
    console.log("page:", page-1, "arrayval:", testArray[page-1]);
});
btn2.addEventListener('click', e => {
    testArray[page-1] = 2;
    if(page == 10){
        $('.BtnShowRes').show();
        $('.CheckBtn').hide();
        $('.BtnSelectPrev').hide();
        testResult();
    }
    console.log("page:", page-1, "arrayval:", testArray[page-1]);
});
btn3.addEventListener('click', e => {
    testArray[page-1] = 3;
    if(page == 10){
        $('.BtnShowRes').show();
        $('.CheckBtn').hide();
        $('.BtnSelectPrev').hide();
        testResult();
    }
    console.log("page:", page-1, "arrayval:", testArray[page-1]);
});
btn4.addEventListener('click', e => {
    testArray[page-1] = 4;
    if(page == 10){
        $('.BtnShowRes').show();
        $('.CheckBtn').hide();
        $('.BtnSelectPrev').hide();
        testResult();
    }
    console.log("page:", page-1, "arrayval:", testArray[page-1]);
});

function testResult() {
    $.ajax({
        type: 'post',
        url: '/testRes',
        data: {
            testRes:testArray
        },
    })
    .done(function (result){
        console.log("SUCCESS!!!!!");
        location.href = "/afterTest";
    })
    .fail(function (xhr, status, error){
        alert("error");
    });
}


    
</script>

</html>

