<div class="boo-wrapper winter">

    <div class="myboo-contents">
        <div class="boo-icon">
            <img class="boo-img" src="images/WinterBooICON.gif">
        </div>
        <div class="boo-contents">
            <h5>[<%= nick %>]은 겨울의 부 입니다.</h5>
            <br><br>

            설원 한복판에 솟은<br>
            푸른 소나무같은 당신<br><br>

            당신은 침묵과 고독을 사랑하는<br>
            겨울의 부엉이네요.<br><br>

            하나에 몰두해<br>
            시간 가는 줄도 모르는 당신에게선<br>
            엄청난 아우라가 뿜어져 나와요.<br><br>

            요즘엔 무슨 책에 빠져 지내나요?<br><br>

            친구들과 함게 이야기 나눠봐요!
        </div>
        <div class="boo-contents boo-keywords">
            <div class="keywordsTitle">
                <img src="images/WinterKeyword.png" width="60%" />
            </div>
            <div class="keywords">
                <div class="keywords-box">
                    <div class="keywords-first-left">
                        #전기장판과함께
                    </div>
                    <div class="keywords-first-right">
                        #고전이좋아요
                    </div>
                </div>
                <div class="keywords-box">
                    <div class="keywords-second-left">
                        #혼자만의시간에
                    </div>
                    <div class="keywords-second-right">
                        #사서읽어볼만한
                    </div>
                </div>
            </div>
    
        </div>
        <div class="boo-contents event-page">
            <img src="images/EventImg.png" width="100%" />
        </div>
        <div class="recommendBtncontainer">
            <button class="recomBtn winter" onClick="location.href='/Search'">
                <img src="images/BtnRecom.png" width="100%" />
            </button>
        </div>
    </div>
    </div>
    
    
    
    