@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500;600;700;800;900&display=swap');

html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Noto Serif KR', serif;
  /*height: 100%;*/
}

.wrapper {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapperTest{
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boo-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spring{
  background-color: #FFEAF7;
}

.summer{
  background-color: #EAFFFB;
}

.autumn{
  background-color: #FFF5EA;
}

.winter{
  background-color: #EAEDFF;
}


.intro{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.DoctorBoo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DoctorBooImg{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.TestStart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.BtnStartT{
  background-color: white;
  border: none;
}

.img_container{
  justify-content: center;
  align-items: center;
  width : 95%;
  margin-top: 10%;
}

.intro_image{
  width: 100%;
  object-fit: cover;
}

.user_info{
  margin-top: 1rem;
  width: 100%;
}

.infoBtnImg{
  /* position:absolute; */
  width: 100%;
  max-width: 300px;
}

.infoBtn{
  width: 40%;
  float: left;
}

.introInputBox{
  width: 90%;
    /*height:1rem;*/
  font-size:7px;
  background: #F9F9F9;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 1em;
}

.majorDropBox{
  width: 97%;
}

.introInput{
  width:60%;
  float: left;
}

.nickname{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.major{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.email{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
}

.BtnSubmit{
  background-color: white;
  border: none;
  width: 10rem;
  cursor: pointer;
}
.warning{
  width: 50%;
}
.warning img{
  width: 100%;
}

.infomation{
  margin-top: 20px;
  width: 100%;
}

.infomation img{
  width: 30%;
}
/*test page*/
.QuestionBox{
}

.test-container {
  max-width: 250px;
  height: auto;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.question-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-slide img{
  width: 100%;
}
.swiper-slide img {
  /*width: 100%;*/
  height: 100%;
}

.swiper-pagination-progressbar-fill {
  background-color: #BFBFBF;
  border: 2px solid rgba(175, 240, 122, 0.719);
  border-radius: 5px;
}

.CheckBtn{
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Btns{
  margin-top: 5rem;
  width: 100%;
}

.BtnPrev{
  width: 30%;
  float: left;
  margin-left: -10%;
}

.BtnSelectPrev{
  background-color: white;
  border: none;
  width: 100%;
  /* height:60rem; */
  cursor: pointer;
}

.BtnShow{
  width: 40%;;
  margin-left: 68%;
}

.BtnShowRes{
  /* visibility: hidden; */
  background-color: white;
  border: none;
  width: 100%;
  /* height:60rem; */
  cursor: pointer;
}

.selectBar{
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #BFBFBF;
  border: none;
}

.selectBtn1{
  margin-left:-5%;
  position: absolute;
}
.selectBtn2{
  position: absolute;
  margin-left: 29%;
}
.selectBtn3{
  position: absolute;
  margin-left: 63%;
}
.selectBtn4{
  position: absolute;
  margin-left: 95%;
}

#leftBtnTxt{
  margin-left: -5%;
  margin-top: 1rem;
  float: left;
  font-weight: bold;
  text-align: center;
}

#rightBtnTxt{
  margin-right: -5%;
  margin-top: 1rem;
  float: right;
  font-weight: bold;
  text-align: center;
}



.BtnSelect{
  margin-top: -24px;
  width: 25px;
  height: 25px;
  background-color: #BFBFBF;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.ResComent{
  width: 80%;
  margin-bottom: 3rem;
}


.navbar{
  width: 100%;
  height: 80px;
  padding: 0 !important;
  background: #F5F5F5;
}

.navbar-item{
  width: 20%;
}
.nav-img{
  width: 100%;
}
.container-fluid{
  width: 100%;
  display: block;
}
.footer{
  width:100%;
  position:fixed;
  bottom:0;
  z-index: 2;
}

/*My Boo Page*/

.logo-img{
  position: fixed;
  width: 100%;
  top:-20px;
  left:0;
  z-index: 2;
}

.myboo-contents{
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position:absolute;
  overflow: auto;
  text-align: center;
  top: 1px;
  z-index: 1;
}

.boo-icon{
  margin-top: 33%;
  width: 30%;
}
.boo-img{
  width: 100%;
}
.boo-contents{
  width: 90%;
  height: auto;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 14px;
}

.event-page{
  width: 90%;
  margin-top: 5%;
  margin-bottom: 30px;
}

.keywords-box{
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  font-weight: bold;
}

.keywords-first-left{
  width: 50%;
  display: flex;
  justify-content: center;
}
.keywords-second-right{
  width: 50%;
  display: flex;
  justify-content: center;
}

.recommendBtncontainer{
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.recomBtn, .retestBtn{
  height: auto;
  border: none;
  display: flex;
  justify-content: center;
}

/*MainPage*/
.mainPagetop{
  position: fixed;
  background-color: #727272;
  width: 100%;
  height: 37px;
  top:0;
  left:0;
}
.popularBookContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  overflow: hidden;
}
.trophyDiv{
  margin-bottom: 5px;
  width: 13%;
}
.tropyIcon{
  width: 100%;
}
.comment{
  width: 40%;
}
.commentImg{
  width: 100%;
}

.bestBookContainer{
  width: 85%;
  margin-top: 20px;
  background-color: white;
  z-index: 2;
}

.middleNavigationContainer{
  background-color: #F5F5F5;
  border: 1px #727272;
  width: 100%;
  height: 25px;
  margin-top: 5%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.navName{
  margin-left: 1%;
  font-weight: 600;
}

.booBtns{
  display: -webkit-flex;
  display: flex;  
  justify-content: end;
  -webkit-justify-content: end;
  margin-right: 1%;
  font-weight: 500;
}
.stringBtn{
  
  margin-left: 3px;
}

.recommendBook{
  width:100%;
  position:absolute;
  flex-direction: column;
  overflow: auto;
  top: 285px;
  bottom: 80px;
  z-index: 1;
}
.bookDIV{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  border-bottom: 0.5px solid #727272;
}
.bookCoverContainer{
  width: 30%;
  margin-top: 3%;
}
.bookInfomationContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
}
.bookTitle{
  width: 100%;
  float: left;
  margin-left: 10px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
}
.bookLike{
  float: left;
  display: flex;
}
.boxNnumberContainer{
  float: left;
  display: flex;
  align-items: center;
  width: 70%;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 500;
}
.bookNameNlikeContainer{
  float:left;
}
.likeButton{
  display: flex;
  align-items: center;
  width: 15px;
}
.likeButton img{
  width: 90%;
}
.likeNum{
  margin-left: 3px;
  font-size: 10px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.pointNum{
  float:left;
  margin-right: 3px;
}
.moveToLibraryContainer{
  text-align: right;
  font-weight: 600;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 2%;
}
.booBtnContainer{
  width: 9%;
}
.booBtnContainer img{
  width: 100%;
}



/* SearchPage */
.searchTop{
  width: 100%;
  height:110px;
  position: fixed;
  margin-top: 42px;
  padding-top: 10px;
  background-color: white;
  z-index: 3;
}
.searchWord{
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.searchBox{
  position: fixed;
  width: 100%;
}
.searchInput{
  width: 100%;
  align-items: center;
  display: flex;
}
.searchInputBox{
  position: relative;
  width: 90%;
  left: 5%;
  height:2.5rem;
  font-size:7px;
  background: white;
  border: 0.5px solid #727272;
  border-radius: 5px;
  padding: 1em;
  padding-right: 3rem;
  z-index: 2;
}

.BtnSearch{
  width: 10%;
  position: absolute;
  float: right;
  border: none;
  cursor: pointer;
  background-color: white;
  right: 7%;
  align-items: center;
  z-index: 3;
}
.searchBtnImg{
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
}
.searchResult{
  width:100%;
  position:absolute;
  flex-direction: column;
  overflow: auto;
  top: 160px;
  bottom: 100px;
  z-index: 1;
}
.books{
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  /* background-color: white;
  border: none; */

}
.bookInfo{
  width: 75%;
  height: 87px;
  font-weight: 500;
  font-size: 11px;
}

.title{
  font-size: 13px;
  font-weight: 700;
}
.bookCover{
  width:57px;
  height:84.3px;
  background: white;
  border-radius: 5px;
}

.bookCover img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/*writeBookDetail Page*/

.bookInfoContainer{
  width: 100%;
  height: auto;
  position: fixed;
  margin-top: 40px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: start;
  border-bottom: 0.5px solid #727272;

}

.bookContent{
  width:80%;
  padding-left: 2%;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookCoverimg{
  height: 100%;
}

#titleContainer{
  font-size: 12px;
  font-weight: bold;
}

.firstComment{
  margin-left: 10px;
 margin-top: 10px;
 font-size: 15px; 
 font-weight: 700;
}

.bookDetailContainer{
  width:100%;
  position:absolute;
  flex-direction: column;
  overflow: auto;
  top: 160px;
  bottom: 80px;
}

.detailContainer{
  border: 0.5px solid #727272;
  width:96%;
  margin-left: 2%;
  /* margin: 30px; */
  border-radius: 5px;
  flex-direction: column;
  position:absolute;
}

.writepage{
  position: relative;
}

.motivate{
  border-bottom: 0.5px solid #727272;
  font-size: 9px;
  color: #727272;
  padding: 2%;
}

.motiveDB{
  color: black;
  margin: 2px;
  margin-left: 7px;
}

.evaluation{
  border-bottom: 0.5px solid #727272;
  font-size: 9px;
  color: #727272;
  padding: 2%;
}

.evalComment{
  margin-bottom: 10px;
}

.introduce{
  font-size: 9px;
  color: #727272;
  padding: 2%;
}

.introDB{
  color: black;
  margin: 2px;
  margin-left: 7px;
}
.parentContainer{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.evalWord{
  width: 15%;
  float: left;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 500;
  color: black;
}
.BoxNComment{
  width: 85%;
  float:left;
  display: flex;
  flex-direction: column;
}
.PointContainer{
  float:left;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: start;
  margin-left: 5px;

}
.PointNum{
  float:left;
  font-size: 10px;
}
.PointBox{
  float:left;
  margin-left: 7px;
}

.Nfill{
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 2px;
  border: 0.5px solid #727272;
  background-color: white;
}
.fill{
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 2px;
  background-color: #727272;
  background-color: #727272;
}
.CommentInput{
  border: none;
  font-size: 9px;
  width: 97%;
}
.ffCommentInput{
  height: 40px;
}
.finishBtn{
  margin-top: 10px;
  display: flex;
  float: right;
  font-size: 20px;
}
.BtnStr{
  background-color: white;
  border:none;
  font-weight: 800;
}

/* My Library Page */
.myInfoContainer{
  width: 90%;
  margin-top: 15%;
  margin-left: 5%;
  padding: 2%;
  position: fixed;
  background-color: white;
  border: 0.5px solid #727272;
  border-radius: 5px;
  z-index: 2;
}
.myinfo{
  width:50%;
  float: left;
  display: flex;
  justify-content: start;
}
.bootypeIcon{
  width:30%;
}
.divbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.libraryComment{
  font-size: 17px;
  font-weight: 700;
}
.myNameContainer{
  font-size: 12px;
}
.goFriendBook{
  width: 40%;
  float: right;
  margin-right: 5px;
}

.wishReadBookContainer{
  width: 85%;
  margin-top: 130px;
  background-color: white;
  z-index: 2;
  overflow: hidden;
}
.likebookComment{
  margin-left: 5%;
}

.myAllReviewContainer{
  width:100%;
  position:absolute;
  flex-direction: column;
  overflow: auto;
  top: 140px;
  bottom: 100px;
  z-index: 1;
}

.likeContainer{
  width: 80%;
}
.editContainer{
  display: flex;
  align-items:flex-end;
  width: 8%;
  margin-right: 2%;
}
.editContainer img{
  width: 100%;
}
.deleteContainer{
  width: 10%;
  display: flex;
  align-items:flex-end;
}

.myreview{
  top: 250px;
}

.book-slide{
  width: 40%;
}

.mybookDetailContainer{
  position: relative;
  width: 90%;
  height: 420px;
  margin-left: 5%;
  justify-content: space-between;
  margin-bottom: 5%;
}
.bookNameNLikeNEdit{
  position: relative;
  width: 96%;
  margin-left: 2.5%;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-evenly;
}

.coverNevaluation{
  width: 100%;
  display: flex;
}

.coverDiv{
  display: flex;
  width: 20%;
  align-items: center;

}
.evaluationDivParent{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.evaluationDiv{
  width: 100%;
}
.btnContainer{
  width: 100%;
  display: flex;
}
.bookName{
  font-weight: 700;
  font-size: 17px;
}

.test{
  background-color: white;
}

.myLibrarymyInfo{
  margin-top: -82px;
}


/*Personal Page*/
.libraryinfo{
  width:50%;
  float: left;
  padding: 5px;
}
.libraryOwner{
  font-size: 15px;
  font-weight: 700;
}
.booType{
  font-size: 13px;
  font-weight: 400;
}
.personalBookLikeContainer{
  display: block;
}
.personalLike{
  width: 23px;
  float: left;
}
.personalLikeContainer{
  width: 100%;
  display: flex;
}
.longName{
  font-size: 13px;
}


@media screen and (min-device-width: 768px){
  .img_container{
    width : 100%;
    max-width: 300px;
  }
  .intro_image{
    width: 100%;
    object-fit: cover;

  }
  .infoBtnImg{
    width: 100%;
    max-width: 200px;
  }

  .infoBtn{
    width: 40%;
  }
  
  .introInputBox{
    height:1rem;
    font-size:17px;
    padding: 10px;
  }
  
  .introInput{
    width:50%;
    float: left;
  }

  .BtnSubmit{
    border: none;
    width: 300px;
    cursor: pointer;
  }

  .introInputBox{
    width:100%;
    height:auto;
  }
  
  .introInput{
    width: 40%;
    margin-left: -5rem;
  }
  .nickname{
    justify-content: center;
  }
  
  .major{
    justify-content: center;
  }
  .email{
    justify-content: center;
    margin-bottom: 1rem;
  }

  .DoctorBoo{
    margin-top: -5rem;
    width: 100%;
    max-width: 400px;
  }
  .BtnStartT{
    margin-top: 1rem;
    width: 15rem;
  }
  .test-container {
    max-width: 600px;
  }
  
  .question-slide {
    /* position: absolute; */
    width: 100%;
    height: 100%;
  }
  .BtnSelect{
    margin-top: -15px;
    width: 38px;
    height: 38px;
  }
  .selectBtn4{
    margin-left: 98%;
  }
  .selectBar{
    margin-top: -2px;
    height: 10px;
  }
  .Btns{
    margin-top: 4rem;
    margin-left:-5%;
  }
  .CheckBtn{
    margin-top: 5rem;
    width: 100%;
    }

  .navbar-item{
    width: 100px;
  }

  .mainLogo{
    width: 100%;
    height: 56px;
    background-color: white;
    border-bottom: 2px solid black;  
  }

  .logo-img{
    position: fixed;
    background-color: white;
    width: 20%;
    top:0;
    left:0;
}

  .boo-icon{
    margin-top: 1rem;
    width: 45%;
  }

  .boo-contents{
    width: 100%;
    height: 30%;
    margin-top: 5%;
  }

  .trophyDiv{
    width: 5%;
  }
  .comment{
    width: 35%;
  }
  .commentImg{
    width: 50%;
  }
  .searchWord{
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
  .navbar-item{
    width: 80px;
  }
  .middleNavigationContainer{
    font-size: 20px;
    font-weight: 600;
    margin-top: 6%;
  }
  .boo-icon{
    margin-top: 5rem;
    width: 20%;
  }
  .boo-contents{
    width: 90%;
    font-size: 20px;
  }
  .keywordsTitle img{
    width: 40%;
  }
  .keywords{
    font-size: 18px;
  }
  .recomBtn, .retestBtn{
    width: 50%;
  }
  .wishReadBookContainer{
    margin-top: 170px;
  }
  .myAllReviewContainer{
    top: 170px;
  }
  .myreview{
    top: 300px;
  }
  .mybookDetailContainer{
    height: 500px;
  }
  .evaluationDivParent{
    width: 80%;
  }
  .evaluationDiv{
    width: 80%;
  }
  .bootypeIcon{
    width: 20%;
  }
  .myLibrarymyInfo{
    margin-top: -120px;
  }

  .bookCover{
    width:84px;
    height:107px;
    background: white;
    border-radius: 5px;
  }

  .bookTitle{
    font-size: 20px;
  }
  .evalWord{
    font-size: 15px;
  }
  .BoxNComment{
    font-size: 15px;
  }
  .fill{
    width: 15px;
    height: 15px;
  }
  .Nfill{
    width: 15px;
    height: 15px;
  }
  .pointNum{
    font-size: 13px;
  }
  .PointNum{
    font-size: 13px;
  }
  .moveToLibraryContainer{
    font-size: 17px;
  }
  .myInfoContainer{
    margin-top: 7%;
  }
  .libraryOwner{
    font-size: 20px;
    font-weight: 600;
  }
  .booType{
    font-size: 16px;
  }
  .goFriendBook{
    margin-top: 5px;
    width: 30%;
  }
  .personalLike{
    width: 30px;
  }
  .likeNum{
    font-size: 15px;
  }
  .bookName{
    font-size: 22px;
  }
  .motivate{
    font-size: 15px;
  }
  .evaluation{
    font-size: 15px;
  }
  .evalComment{
    font-size: 15px;
  }
  .introduce{
    font-size: 15px;
  }
  .bookInfo{
    font-size: 15px;
  }
  .searchInputBox{
    height: 4rem;
    font-size: 15px;
  }
  .BtnSearch{
    width: 6%;
  }
  .bookDetailContainer{
    top: 180px;
  }
  .deleteContainer{
    font-size: 20px;
  }
  .bookContent{
    margin-left: 20px;
    font-size: 15px;
  }
  .title{
    font-size: 18px;
  }
  #titleContainer{
    font-size: 19px;
  }
  .firstComment{
    font-size: 20px;
    margin-bottom: 15px;
  }
  .CommentInput{
    font-size: 15px;
  }
  .finishBtn{
    font-size: 25px;
    margin-right: 20px;
  }
  .myLibrarymyInfo{
    margin-top: -110px;
  }
  .libraryComment{
    font-size: 20px;
  }
  .myNameContainer{
    font-size: 16px;
  }
  .wrapper{
    height: 1024px;
  }
  .wrapperTest{
    height: 1024px;
  }

  .QuestionBox{
    font-size: 20px;
  }
  .BtnSelectPrev{
    float: left;
    margin-top: 10%;
  }



}
@media screen and (min-width: 1024px){
  .img_container{
    width : 100%;
    max-width: 300px;
  }
  
  .intro_image{
    width: 100%;
    object-fit: cover;

  }
  .infoBtnImg{
    position:absolute;
    width: 30%;
    max-width: 200px;
  }
  .trophyDiv{
    width: 4%;
  }
  .comment{
    width: 20%;
  }
  .middleNavigationContainer{
    margin-top: 2%;
  }
  .booBtns{
    margin-right: 2%;
  }
  .bookDIV{
    padding-bottom: 1%;
  }
  .booBtnContainer{
    width: 4%;
  }
  .searchWord{
    width: 100%;
    text-align: center;
  }
  .bootypeIcon{
    width: 10%;
  }
  .goFriendBook{
    width: 18%;
  }
  .myInfoContainer{
    padding: 2px;
  }
  .myboo-contents{
    width: 100%;
  }
  .boo-icon{
    width: 15%;
  }
  .mybookDetailContainer{
    height: 700px;
  }
  .evaluation{
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .coverDiv{

  }


}