html, body {
  height: 100%;
  min-height: -webkit-fill-available;
  overflow: auto;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapperTest{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boo-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spring{
  background-color: #FFEAF7;
}

.summer{
  background-color: #EAFFFB;
}

.autumn{
  background-color: #FFF5EA;
}

.winter{
  background-color: #EAEDFF;
}


.intro{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.DoctorBoo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DoctorBooImg{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.TestStart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.BtnStartT{
  background-color: white;
  border: none;
}

.img_container{
  justify-content: center;
  align-items: center;
  width : 100%;
}

.intro_image{
  width: 100%;
  object-fit: cover;
}

.user_info{
  margin-top: 1rem;
  width: 100%;
}

.infoBtnImg{
  /* position:absolute; */
  width: 100%;
  max-width: 300px;
}

.infoBtn{
  width: 40%;
  float: left;
}

.introInputBox{
  width: 90%;
    /*height:1rem;*/
  font-size:7px;
  background: #F9F9F9;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 1em;
}

.majorDropBox{
  width: 97%;
}

.introInput{
  width:60%;
  float: left;
}

.nickname{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.major{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.email{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
}

.BtnSubmit{
  background-color: white;
  border: none;
  width: 10rem;
  cursor: pointer;
}

/*test page*/
.QuestionBox{
}

.test-container {
  max-width: 250px;
  height: auto;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.question-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-slide img {
  width: 100%;
}

.swiper-pagination-progressbar-fill {
  background-color: #BFBFBF;
  border: 2px solid rgba(175, 240, 122, 0.719);
  border-radius: 5px;
}

.CheckBtn{
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Btns{
  margin-top: 5rem;
  width: 100%;
}

.BtnPrev{
  width: 30%;
  float: left;
  margin-left: -10%;
}

.BtnSelectPrev{
  background-color: white;
  border: none;
  width: 100%;
  /* height:60rem; */
  cursor: pointer;
}

.BtnShow{
  width: 40%;;
  margin-left: 68%;
}

.BtnShowRes{
  /* visibility: hidden; */
  background-color: white;
  border: none;
  width: 100%;
  /* height:60rem; */
  cursor: pointer;
}

.selectBar{
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #BFBFBF;
  border: none;
}

.selectBtn1{
  margin-left:-5%;
  position: absolute;
}
.selectBtn2{
  position: absolute;
  margin-left: 29%;
}
.selectBtn3{
  position: absolute;
  margin-left: 63%;
}
.selectBtn4{
  position: absolute;
  margin-left: 95%;
}

#leftBtnTxt{
  margin-left: -5%;
  margin-top: 1rem;
  float: left;
  font-weight: bold;
  text-align: center;
}

#rightBtnTxt{
  margin-right: -5%;
  margin-top: 1rem;
  float: right;
  font-weight: bold;
  text-align: center;
}



.BtnSelect{
  margin-top: -24px;
  width: 25px;
  height: 25px;
  background-color: #BFBFBF;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.ResComent{
  width: 80%;
  margin-bottom: 3rem;
}


.navbar{
  width: 100%;
  height: 80px;
  padding: 0 !important;
  background: #F5F5F5;
}

.navbar-item{
  width: 20%;
}
.nav-img{
  width: 100%;
}
.container-fluid{
  width: 100%;
  display: block;
}
.footer{
  width:100%;
  position:fixed;
  bottom:0;
  z-index: 2;
}

/*My Boo Page*/

.logo-img{
  position: fixed;
  width: 100%;
  top:-20px;
  left:0;
  z-index: 2;
}

.myboo-contents{
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position:absolute;
  overflow: auto;
  text-align: center;
  top: 1px;
  bottom: 100px;
  z-index: 1;
}

.boo-icon{
  margin-top: 33%;
  width: 30%;
}
.boo-img{
  width: 100%;
}
.boo-contents{
  width: 90%;
  height: auto;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 14px;
}

.keywords-box{
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  font-weight: bold;
}

.recomBtn{
  width: 50%;
  border: none;
}

/*MainPage*/
.mainPagetop{
  position: fixed;
  background-color: #727272;
  width: 100%;
  height: 37px;
  top:0;
  left:0;
}
.popularBookContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  overflow: hidden;
}
.trophyDiv{
  margin-bottom: 5px;
  width: 13%;
}
.tropyIcon{
  width: 100%;
}
.comment{
  width: 55%;
}
.commentImg{
  width: 50%;
}

.bestBookContainer{
  width: 85%;
  margin-top: 20px;
  background-color: white;
  z-index: 2;
}

.middleNavigationContainer{
  background-color: #F5F5F5;
  border: 1px #727272;
  width: 100%;
  height: 25px;
  margin-top: 10%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.navName{
  margin-left: 5%;
  font-weight: bold;
}

.booBtns{
  display: flex;  
  width: 40%;
  justify-content: end;
  margin-right: 5%;
}
.stringBtn{
  margin-left: 9px;
}

.recommendBook{
  width:100%;
  position:absolute;
  flex-direction: column;
  overflow: auto;
  top: 310px;
  bottom: 100px;
  z-index: 1;
}
.bookDIV{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
  border-bottom: 0.5px solid #727272;
}
.bookCoverContainer{
  width: 30%;
}
.bookInfomationContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
}
.bookTitle{
  width: 100%;
  float: left;
  margin-right: 5px;
  font-size: 12px;
}
.bookLike{
  float: left;
  display: flex;
}
.boxNnumberContainer{
  float: left;
  width: 70%;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
}
.bookNameNlikeContainer{
  float:left;
}
.likeButton{
  float:left;
}
.likeNum{
  margin-left: 3px;
}
.pointNum{
  float:left;
}
.moveToLibraryContainer{
  float:right;
  text-align: right;
}




/* SearchPage */
.searchTop{
  width: 100%;
  height:110px;
  position: fixed;
  margin-top: 42px;
  padding-top: 10px;
  background-color: white;
  z-index: 2;
}
.comment{
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.searchBox{
  position: fixed;
  width: 100%;
}
.searchInput{
  width: 100%;
  display: flex;
  align-items: center;
}
.searchInputBox{
  position: relative;
  width: 90%;
  left: 5%;
  height:2rem;
  font-size:7px;
  background: white;
  border: 0.5px solid #727272;
  border-radius: 5px;
  padding: 1em;
  padding-right: 3rem;
}

.BtnSearch{
  position:absolute;
  float: right;
  border: none;
  width: 8%;
  cursor: pointer;
  background-color: white;
  right: 7%;
}
.searchBtnImg{
  width: 100%;
  z-index: 2;
}
.searchResult{
  width:100%;
  position:absolute;
  flex-direction: column;
  overflow: auto;
  top: 160px;
  bottom: 100px;
  z-index: 1;
}
.books{
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  /* background-color: white;
  border: none; */

}
.bookInfo{
  height: 87px;
  font-weight: bold;
  font-size:11px;
}

.title{
  font-size: 14px;
}
.bookCover{
  width:74px;
  height:87px;
  background: white;
}

/*writeBookDetail Page*/

.bookInfoContainer{
  width: 100%;
  height:100px;
  position: fixed;
  margin-top: 40px;
  margin-left: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: start;
}

.bookContent{
  width:80%;
  font-size: 11px;
}

.bookCoverimg{
  height: 100%;
}

#titleContainer{
  font-size: 14px;
  font-weight: bold;
}

.firstComment{
  margin-left: 10px;
 margin-top: 10px;
 font-size: 14px; 
 font-weight: bold;
}

.bookDetailContainer{
  width:100%;
  position:absolute;
  flex-direction: column;
  overflow: auto;
  top: 140px;
  bottom: 80px;
  border-top: 0.5px solid #727272;
}

.detailContainer{
  border: 0.5px solid #727272;
  width:96%;
  margin-left: 2%;
  /* margin: 30px; */
  border-radius: 5px;
  flex-direction: column;
  position:absolute;
}

.motivate{
  border-bottom: 0.5px solid #727272;
  font-size: 9px;
  color: #727272;
}
.evaluation{
  border-bottom: 0.5px solid #727272;
  font-size: 9px;
  color: #727272;
}

.introduce{
  font-size: 9px;
  color: #727272;
}
.parentContainer{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.evalWord{
  width: 15%;
  float: left;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
}
.BoxNComment{
  width: 85%;
  float:left;
  display: flex;
  flex-direction: column;
}
.PointContainer{
  float:left;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: start;

}
.PointNum{
  float:left;
  font-size: 10px;
}
.PointBox{
  float:left;
  margin-left: 7px;
}

.Nfill{
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 2px;
  border: 0.5px solid #727272;
  background-color: white;
}
.fill{
  float: left;
  width: 10px;
  height: 10px;
  margin-left: 2px;
  background-color: #727272;
  background-color: #727272;
}
.CommentInput{
  border: none;
  font-size: 9px;
  width: 97%;
}
.ffCommentInput{
  height: 40px;
}
.finishBtn{
  /* bottom: 100px; */
  position:absolute;
  /* top: 140px; */
  left: 75%;
  bottom: 5px;
}
.BtnStr{
  background-color: white;
  border:none;
  font-size: 15px;
  font-weight: bold;
}

/* My Library Page */
.myInfoContainer{
  width: 90%;
  height: auto;
  position: fixed;
  margin-left: 5%;
  margin-top: 42px;
  background-color: white;
  border: 0.5px solid #727272;
  border-radius: 5px;
  z-index: 2;
}
.myinfo{
  width:50%;
  float: left;
  display: flex;
  justify-content: start;

}
.bootypeIcon{
  width:30%;
}
.goFriendBook{
  width: 40%;
  float: right;
}

.wishReadBookContainer{
  width: 85%;
  margin-top: 130px;
  background-color: white;
  z-index: 2;
}

.myAllReviewContainer{
  width:100%;
  position:absolute;
  flex-direction: column;
  overflow: auto;
  top: 130px;
  bottom: 100px;
  z-index: 1;
}
.myreview{
  top: 260px;
}

.book-slide{
  width: 40%;
}

.mybookDetailContainer{
  position: relative;
  width: 90%;
  margin-left: 5%;
  justify-content: space-between;
  margin-bottom: 75%;
}
.bookNameNLikeNEdit{
  position: relative;
  width: 90%;
  margin-left: 5%;
}

.coverNevaluation{
  width: 100%;
  display: flex;
}

.coverDiv{
  display: flex;
  width: 20%;
  align-items: center;

}
.evaluationDiv{
  width: 80%;
}

.test{
  background-color: white;
  
}


/*Personal Page*/
.libraryinfo{
  width:50%;
  float: left;
  padding: 5px;
}
.libraryOwner{
  font-weight: bold;
}
.booType{
  font-size: 13px;
}


@media screen and (min-device-width: 768px){
  .img_container{
    width : 100%;
    max-width: 300px;
  }
  .intro_image{
    width: 100%;
    object-fit: cover;

  }
  .infoBtnImg{
    width: 100%;
    max-width: 200px;
  }

  .infoBtn{
    width: 40%;
  }
  
  .introInputBox{
    height:1rem;
    font-size:17px;
    padding: 10px;
  }
  
  .introInput{
    width:50%;
    float: left;
  }

  .BtnSubmit{
    border: none;
    width: 300px;
    cursor: pointer;
  }

  .introInputBox{
    width:100%;
    height:auto;
  }
  
  .introInput{
    width: 40%;
    margin-left: -5rem;
  }
  .nickname{
    justify-content: center;
  }
  
  .major{
    justify-content: center;
  }
  .email{
    justify-content: center;
    margin-bottom: 1rem;
  }

  .DoctorBoo{
    margin-top: -5rem;
    width: 100%;
    max-width: 400px;
  }
  .BtnStartT{
    margin-top: 1rem;
    width: 15rem;
  }
  .test-container {
    max-width: 600px;
  }
  
  .question-slide {
    /* position: absolute; */
    width: 100%;
    height: 100%;
  }
  .BtnSelect{
    margin-top: -15px;
    width: 38px;
    height: 38px;
  }
  .selectBtn4{
    margin-left: 98%;
  }
  .selectBar{
    margin-top: -2px;
    height: 10px;
  }
  .Btns{
    margin-top: 4rem;
    margin-left:-5%;
  }
  .CheckBtn{
    margin-top: 5rem;
    width: 100%;
    }

  .navbar-item{
    width: 100px;
  }

  .mainLogo{
    width: 100%;
    height: 56px;
    background-color: white;
    border-bottom: 2px solid black;  
  }

  .logo-img{
  position: fixed;
  background-color: white;
  width: 20%;
  top:0;
  left:0;
}

.boo-icon{
  margin-top: 1rem;
  width: 45%;
}

.boo-contents{
  width: 100%;
  height: 30%;
  margin-top: 5%;
}

}

@media screen and (min-width: 1024px){
  .img_container{
    width : 100%;
    max-width: 300px;
  }
  
  .intro_image{
    width: 100%;
    object-fit: cover;

  }
  .infoBtnImg{
    position:absolute;
    width: 30%;
    max-width: 200px;
  }

}